input[type=text], input[type=number], input[type=date] {
    
    width: 20%;
    padding: 5px 12px;
    margin: 10px 10px;
    box-sizing: border-box;
    border: 2px solid #58819F;
}
 input[type=reset] {
  width: 20%;
  padding: 5px 12px;
  margin-left: 650px;
  box-sizing: border-box;
  border: 2px solid #58819F;
}

button {
    text-align: center;
  
  margin-left: 750px;
  box-sizing: border-box;
  border: 2px solid #58819F;
}

label {
    text-align: center;
  width: 240px;
  display: inline-block;
  margin-left: 500px;
}

h2 {
  text-align: center;
}

