label { 
  
  display: inline-block;
  width: 200px;
  text-align: left;
  margin-bottom: 10px;
  padding-inline: 40px;
  
  
} 

input { 
  display: inline-block;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 20px;
  height: 20px;
  width:300px;
  
} 

label.required:after{
  content: " *";
  color: red
}

label.required0:after{
  content: " *";
  color: red
}

label.required1:after{
  content: " *";
  color: red
}


h2 {
  text-align: center;
  margin-bottom: 20px;
  
}


